.s-detailProduct {
    padding: 100px 0;
    .s_wrapper {
        .s_thumb {
            position: relative;
            padding: 0;
            @media (max-width: 992px) {
                width: 50%;
                margin: 0 auto;
            }
        }
        .s_infor {
            @media (max-width: 992px) {
                margin-top: 20px;
                padding: 0;
                text-align: center;
            }
            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
            li {
                display: inline-block;
                margin-right: 25px;
                cursor: pointer;
            }
            .s_content {
                .s_title {
                    @media (max-width: 500px) {
                        font-size: 1rem;
                        font-weight: $fw-700;
                    }
                }
            }
        }
    }
    .s_quantity {
        @include display($justify: none, $align: center);
        gap: 10px;
        width: 100%;
        .s_number {
            position: relative;
            input {
                padding: 10px;
                width: 80px;
                font-weight: $fw-700;
            }
            .s_increase {
                @include posAbsolute("tr", 0, 5px);
                cursor: pointer;
            }
            .s_reduce {
                @include posAbsolute("br", 0, 5px);
                cursor: pointer;
            }
        }
        button {
            margin-top: 0;
            padding: 10.5px 30px;
        }
        @media (max-width: 992px) {
            @include display($justify: center, $align: center);
        }
    }
}
.s-descDetail {
    .s_controller {
        @include display($justify: center, $align: center);
        gap: 30px;
        cursor: pointer;
    }
    .s_wrapperDesc {
        .s_contentDetail {
            .s_topic {
                font-weight: $fw-700;
            }
        }
    }
    button {
        display: flex;
        margin: 20px auto;
        @media (max-width: 375px) {
            margin: 10px auto;
        }
    }
}
.s-anorther {
    padding: 50px 0;
    h3 {
        text-align: center;
        margin-bottom: 30px;
        @media (max-width: 500px) {
            margin-bottom: 0px;
            font-size: 1rem;
            font-weight: $fw-700;
        }
    }
    .s_list {
        .s_item {
            text-align: center;
            cursor: pointer;
            .name {
                font-weight: $fw-700;
            }
            p {
                margin: 5px 0;
            }
        }
    }
    img {
        @media (max-width: 500px) {
            width: 300px;
            margin: 0 auto;
        }
    }
}
.s-popupDetail {
    padding: 20px;
    position: fixed;
    background-color: #d01010;
    box-shadow: -1px 0px 6px 2px #d0d0d0;
    border-radius: 20px;
    width: 20rem;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    @include posAbsolute("tr", 100px, -10px);
    p {
        border-bottom: 1px solid #8a2424;
    }
    .s_inner {
        p {
            border-bottom: none;
            margin-bottom: 0;
        }
        .name {
            margin-bottom: 25px;
        }
        button {
            margin-top: 10px;
            border-radius: 20px;
        }
    }
    &.active {
        opacity: 1;
        visibility: visible;
        @include posAbsolute("tr", 100px, 10px);
    }
}
